/*
BEM:  Bloque - Elemento - Modificador
*/

/*Imports*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,300,400,500,600,700|Playfair+Display:400,700,900&display=swap");
/*Variables*/
:root {
  --font-primary: "Playfair Display", serif;
  --font-secondary: "IBM Plex Serif", serif;
  --color-black: #000000;
  --color-gray: #888888;
  --color-white: #ffffff;
}

* {
  transition: 0.5s;
  color: var(--color-black);
  /* animation-name: fadeIn; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.container.is-fluid {
  max-width: none;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

/*MEDIA QUERyS SIZES*/
@media screen and (min-width: 769px) {
  .container {
    /* background-color: #c42fff; */
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    /* background-color: #adff2f; */
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    /* background-color: #ff0000; */
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
    /* background-color: #ffff00; */
  }
}

/*Bloque*/

.header {
  /* border: 2px solid red;
  background-color: pink; */
}

.list__news__container {
  padding-top: 50px;
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 1px;
}

/*Elemento*/
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title__newspaper {
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: calc(69px + 1vmin);
  font-weight: 400;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .header__title__newspaper {
    font-size: calc(39px + 1vmin);
  }
}

.header__subtitle__newspaper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: calc(11px + 1vmin);
  font-weight: 400;
  margin: 5px 0 17px 0;
}

.header__subtitle__newspaper::before {
  background: transparent url("../images/decorador.svg") no-repeat scroll right
    center;
  content: "";
  display: inline-block;
  width: calc(11px + 2vmin);
  max-width: 20px;
  height: calc(21px + 2vmin);
  max-height: 30px;
  margin-right: 8px;
}

.header__subtitle__newspaper::after {
  background: transparent url("../images/decorador.svg") no-repeat scroll right
    center;
  content: "";
  display: inline-block;
  width: calc(11px + 2vmin);
  max-width: 20px;
  height: calc(21px + 2vmin);
  max-height: 30px;
  margin-left: 8px;
  transform: rotate(180deg);
}

.headband__grid {
  border-top: 1px solid var(--color-black);
  border-bottom: 4px solid var(--color-black);
  display: grid;
  grid-template-areas: "version select date";
  grid-template-rows: 53px;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .headband__grid {
    grid-template-areas: "version date" "select select";
    grid-template-rows: 1fr 54px;
    grid-template-columns: 1fr 1fr;
  }

  #version {
    grid-area: version;
    grid-row: 1;
    grid-column: 1;
  }

  #select {
    grid-area: select;
    grid-row: 2;
    grid-column: 1 / 3;
  }

  #date {
    grid-area: date;
    grid-row: 1;
    grid-column: 2;
  }
}

.headband__item__container {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headband__text {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .headband__text {
    margin: 8px;
    font-weight: 400;
  }
}

.select__border {
  border: 1px solid var(--color-black);
  margin-top: -1px;
  /* border: 1px solid blueviolet; */
}

.test__container {
  /* width: 350px;
  height: auto; */
  border: 1px solid grey;
}

.card__container {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: auto;
  height: 100%;
}

.card__image__container {
  width: 100%;
  height: auto;
  position: relative;
  background-color: plum;
}

.card__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
   /* Safari 6.0 - 9.0 */
   -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.card__image:hover {
   -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}


.card__image__tag__container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  padding: 10px;
}

.card__image__tag__text {
  width: auto;
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-white);
  font-size: 14px;
  margin: 0;
}

.card__text__container {
  /* background-color: plum; */
}

@media screen and (max-width: 769px) {
  .card__text__container {
    padding: 0 1em;
  }
}

.card__title {
  font-family: var(--font-primary);
  font-size: calc(14px + 1vmin);
  font-weight: 700;
  margin: 15px 0;
}

.card__date {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: calc(15px + 0.1vmin);
  margin: 0 0 15px 0;
}

.card__description {
  font-family: var(--font-secondary);
  color: var(--color-gray);
  font-size: calc(15px + 0.1vmin);
  margin: 0 0 30px 0;
}



/*Modificador*/
