$color-blue: #4694ff;
$color-cyan: #42f5e1;
$color-white: rgb(255, 255, 255);
$color-black: #181919;
$color-black-regular: #222324;
$color-grey-dark: #ffd428;
$color-grey-regular: #4e586e;
$color-grey-thin: #cccccc;
// $color-grey-thin: #f3f3f3;
$color-orange-dark: #f54b64;
$color-orange-regular: #f78361;
$color-yellow-gold: #ffdb45;
$color-orange: #ff5a45;
$color-fiucsia: #ff457e;
     $color-pink-mexican: #8721ff;
