@import '../../scss/Palette';

.title-collection {
  color: $color-black-regular;
  text-transform: capitalize;
  padding-left: 1rem;
}

.container-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  // justify-content: space-around;
  // justify-content: space-between;
}
