/*
BEM:  Bloque - Elemento - Modificador
*/

/* Imports */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap");

/*Variables*/
:root {
  --black-color: #1a1b2d;
  --primary-color: #1c58f6;
  --evently-thin-color: #356bf8;
  --secondary-color: #ff007a;
  --vamtam-accent-color-2: #f20487;
  --vamtam-accent-color-1: #3813c2;
  --evently-accent-color-2: #ee0034;
  --evently-accent-color-3: #25258e;
  --gray-color: #43434d;
  --gray-thin-color: #d8d8d8;
  --white-color: #ffffff;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  /* animation-name: fadeIn; */
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.container.is-fluid {
  max-width: none;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

/*MEDIA QUERyS SIZES*/
@media screen and (min-width: 769px) {
  .container {
    /* background-color: #c42fff; */
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    /* background-color: #adff2f; */
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    /* background-color: #ff0000; */
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
    /* background-color: #ffff00; */
  }
}

@media screen and (min-width: 1820px) {
  .container {
    max-width: 1600px;
    /* background-color: #2041ff; */
  }
}

/*Bloque*/
.container__header {
}

.header {
  width: 100%;
  height: 100px;
  /* background-color: plum; */
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
}

.logo__container {
  /* background-color: pink; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.image__logo {
  width: auto;
  max-width: 100%;
  height: calc(37px + 1vmin);
  object-fit: cover;
  vertical-align: middle;
}

@media screen and (max-width: 769px) {
  .image__logo {
    height: calc(28px + 1vmin);
  }
}

.container__hero__banner {
}
.hero__banner {
  width: 100%;
  height: 400px;
  background-color: white;
  padding: 50px 0;
  /* background-image: url("./images/all_images.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 769px) {
  .hero__banner {
    height: 370px;
  }
}

.hero__banner::after {
  display: block;
  position: absolute;
  content: " ";
  width: inherit;
  height: inherit;
  /* background-color: var(--vamtam-accent-color-1); */
  /* background-color: var(--black-color); */
  top: 0;
  left: 0;
  opacity: 0.5;
}

.hero__banner__layer__content {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 769px) {
  .hero__banner__layer__content {
    height: 370px;
  }
}

.hero__banner__title {
  /* color: var(--white-color); */
  font-family: var(--font-montserrat);
  font-size: calc(40px + 1vmin);
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .hero__banner__title {
    font-size: calc(27px + 1vmin);
    margin-top: 95px;
    margin-bottom: 20px;
  }
}

.container__form {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__form > * {
  margin: 0 8px;
  height: 58px;
  width: 30%;
  max-width: 398px;
}

@media screen and (max-width: 769px) {
  .container__form {
    height: auto;
    flex-direction: column;
    padding: 8px;
  }

  .container__form > * {
    margin-bottom: 8px;
    height: 50px;
    width: 100%;
    max-width: 100%;
  }
}

.container__results{
  width: 100%;
  height: auto;
  background-color: powderblue;
  padding: 2em;
}

/*Elemento*/
.flex__center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form__input {
  border: 1px solid var(--gray-thin-color);
  font-family: var(--font-montserrat);
  font-weight: 700;
  color: var(--gray-color);
  font-size: 25px;
  padding: 0 20px;
  text-transform: capitalize;
}

.form__input::placeholder {
  font-family: var(--font-montserrat);
  font-weight: 700;
  color: var(--gray-thin-color);
  font-size: 25px;
  text-transform: capitalize;
}

.form__input:hover,
.form__input:focus {
  border: 1px solid var(--vamtam-accent-color-1);
}

select.placeholder {
  color: #999;
}

.form__select {
  border: 1px solid var(--gray-thin-color);
  font-family: var(--font-montserrat);
  font-weight: 700;
  color: var(--gray-color);
  font-size: 25px;
  padding: 0 20px;
  text-transform: capitalize;
}

.form__select option {
  font-weight: 700;
  text-transform: capitalize;
}

.form__select:hover,
.form__select:focus {
  border: 1px solid var(--vamtam-accent-color-1);
}

.button {
  /* box-shadow: none; */
  border: 1px solid var(--evently-thin-color);
  background-color: var(--evently-thin-color);
  font-family: var(--font-montserrat);
  font-size: 13px;
  font-weight: 600;
  color: var(--white-color);
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;

  padding: 20px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 769px) {
  .button {
    padding: 10px 0;
  }
}
/*Modificador*/
